# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Class Files
bin/

# Eclipse Project Files
.classpath
.project
.settings/

# Gradle Project Files
.gradle
build/

# Gradle build/execute batch files
build.bat
run.bat
buildAndRun.bat
.atom-build.yml

# Don't Ignore Gradle Wrapper Jar File
!gradle-wrapper.jar

# Ctags File
tags

# IntelliJ Project Files
.idea/
.javac-classpath
